# VSCode
.vscode

# Prerequisites
*.d

# Compiled Object files
*.o

# executables
mspot
inicheck
cc1200-reset

# local configs
/mspot.*
/*Hosts.txt
/index.php
/mdash.service

# locally generated dat files
ECHO
destination.dat
repeater.dat
