[Unit]
Description=mspot
Requires=network.target
After=network-online.target
Requires=systemd-user-session.service network.target

[Service]
Type=simple
User=<USER_NAME>
Group=<GROUP_NAME>
Restart=on-failure
RestartSec=3
ExecStart=/usr/local/bin/mspot <PATH_TO_INI_FILE>
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
