[Unit]
Description=M17 Repeater
After=network-online.target
Requires=networking.service

[Service]
Type=forking
User=<USER_NAME>
Group=<USER_GROUP_NAME>
Restart=on-failure
RestartSec=3
ExecStart=/usr/local/bin/mspot /<PATH_TO>/mspot.ini
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
